.description {
    margin: auto;
    font-size: 12px;
    padding-top: 10px;
    background-color: white;  
    padding-bottom: 5px;
}

.description > div {
    margin: 0px auto;
    display: block;
    padding: 2px 12px;
    font-weight: 600;
    color: black
}